/node_modules
/public/hot
/public/storage
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.idea/
.DS_Store
*.swp
*.swo
_error_logs